.footer {
  background-color: #fff;
  padding: 4rem 0 2rem 0;
}

.footer .links {
  li:not(:first-child) {
    margin-left: 50px;
  }
}

.footer ul li a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

.icons-section {
  margin-left: 400px;
}

.footer .social-icons {
  display: flex;
  li:not(:last-child) {
    margin-right: 20px;
  }
}

.footer p {
  text-align: center;
  font-size: 1.5rem;
}
