.propertyFirstSection {
  background: url("../assets/img/properties/11.png") center/cover no-repeat;
  height: 402px;
  margin-top: -89px;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 4rem;
    padding-top: 10rem;
    padding-left: 5rem;
  }
}
