.propertyFirstSection {
  background: url("../assets/img/11.png") center/cover no-repeat;
  height: 402px;
  margin-top: -89px;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 46px;
    padding-top: 100px;
    padding-left: 50px;
    font-family: NexaBold;
  }
}
