#propertyFirstSection {
  background: url("../assets/img/11.png") center/cover no-repeat;
  height: 402px;
  margin-top: -89px;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    font-size: 46px;
    padding-top: 100px;
    padding-left: 50px;
    font-family: NexaBold;
  }
}

#propertySecondSection .row.first_row {
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 10px;

  .col-md-10 {
    border-bottom: 2px solid #ddd;
    h1 {
      font-size: 25px;
    }
  }
}

#propertyThirdSection .row.first_row {
  justify-content: center;

  div.flex_container {
    display: flex;
  }

  ul {
    list-style: none;
    padding-left: 30px;
  }
  ul.description li {
    padding: 5px 0;
  }

  ul.description li:first-child {
    font-size: 20px;
    font-weight: bold;
  }
  ul span {
    padding-left: 10px;
    font-size: 12px;
  }

  ul.toilet_bathroom {
    display: flex;
    position: relative;
    top: 23px;

    li {
      padding-right: 20px;
    }

    span {
      position: relative;
      top: 3px;
      font-weight: bold;
      padding-left: 10px;
    }
  }

  div.image_div img {
    width: 100%;
  }
}

#propertyThirdSection .col-md-8 .row.individual_row {
  border: 2px solid #ddd;
  margin-bottom: 10px;
  margin-right: 2px;
}

#propertyThirdSection .col-md-8 .row.individual_row .col-md-8 {
  padding-left: 0;
}

#propertyThirdSection .col-md-8 .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-top: 20px;

  a {
    display: block;
    color: #fff;
    background-color: #333;
    padding: 7px 30px;
    text-decoration: none;
  }

  span {
    font-weight: bold;
  }
  span.amount {
    font-size: 22px;
    padding-left: 10px;
    color: red;
    display: inline-block;
    padding-bottom: 20px;
  }

  div:first-child {
    margin-right: 35px;

    span {
      padding-left: 10px;
    }
  }
}

#propertyThirdSection .col-md-2 {
  .row.first_row {
    background: #f8f8f8;
    padding: 22px 0;
    border: 2px solid #ddd;
  }

  .row.second_row {
    margin-top: 22px;
  }
  .row.seond_row img {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;

    select {
      background-color: #fff !important;
      margin-bottom: 10px;
      padding: 10px 0px 5px 5px;
      border: 2px solid #ddd;
      color: #6b7d87;
      font-size: 14px;
    }

    p {
      margin-bottom: 0;
      font-weight: bold;
      color: #6b7d87;
    }

    label {
      display: inline-block;
      margin-bottom: 0.5rem;
      font-size: 11px;
      padding-left: 6px;
      font-weight: bold;
      position: relative;
      top: -2px;
      color: #6b7d87;
    }

    button {
      color: #fff;
      background-color: #e36a37;
      border: none;
      padding: 8px;
      font-size: 14px;
      letter-spacing: 2px;
      margin-top: 20px;
    }
  }

  .col-md-6.extras_2 {
    padding-left: 30px;
  }

  img.advert_img {
    width: 100%;
  }
}
