#agentFirstSection {
  background: url("../../assets/img/11.png") center/cover no-repeat;
  height: 402px;
  margin-top: -89px;
  flex-direction: column;
  display: flex;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 46px;
    padding-top: 100px;
    padding-left: 50px;
    font-family: NexaBold;
  }

  form {
    padding-left: 50px;
  }

  form input {
    margin-right: 4px;
    width: 32%;
    padding: 11px 5px 11px 10px;
    color: #6b7d87;
    font-size: 14px;
    border: none;
  }

  form button {
    padding: 9px 60px 10px 60px;
    border: none;
    background-color: #30caa0;
    color: #fff;
  }
}

#agentSecondSection .row.first_row {
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 10px;

  .col-md-10 {
    border-bottom: 2px solid #ddd;
    h1 {
      font-size: 25px;
    }
  }
}

#agentThirdSection .row {
  justify-content: center;
}

#agentThirdSection .row .col-md-2 {
  background-color: #f8f8f8;
  margin-left: 10px;
  margin-right: 10px;
  flex: 0 0 19.667% !important;
  max-width: 19.667% !important;
  padding-top: 14px;
  padding-bottom: 20px;

  div.image_div img {
    width: 100%;
  }

  div p:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 7px;
  }

  div p:nth-child(3) {
    padding-top: 50px;
    font-size: 15px;
  }
  div p:nth-child(4) {
    font-size: 15px;
  }

  div p:nth-child(5) {
    font-size: 15px;
  }

  div a {
    color: #fff;
    text-decoration: none;
    background-color: #373435;
    font-size: 15px;
    padding: 8px 20px;
    margin-right: 25px;
  }
}

#agentFourthSection .row {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .col-md-10 {
    padding: 0;
  }

  .col-md-10 img {
    width: 100%;
  }
}

#agentFifthSection .row {
  justify-content: center;
}

#agentFifthSection .row .col-md-2 {
  background-color: #f8f8f8;
  margin-left: 10px;
  margin-right: 10px;
  flex: 0 0 19.667% !important;
  max-width: 19.667% !important;
  padding-top: 14px;
  padding-bottom: 20px;

  div p:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    margin-bottom: 7px;
  }

  div p:nth-child(3) {
    padding-top: 50px;
    font-size: 15px;
  }
  div p:nth-child(4) {
    font-size: 15px;
  }

  div p:nth-child(5) {
    font-size: 15px;
  }

  div a {
    color: #fff;
    text-decoration: none;
    background-color: #373435;
    font-size: 15px;
    padding: 8px 20px;
    margin-right: 18px;
  }
}

#agentFifthSection div.image_div img {
  width: 100%;
}
