@import "./styles/main.scss";

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
}

.homeHeroSection {
  background-image: url("./assets/img/home/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeFirstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;

  .line {
    width: 200px;
    height: 2px;
    border-top: 2px solid #ddd;
    margin: 0 auto;
  }
  h1 {
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.homeSecondSection {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;

  .property img {
    display: block;
  }

  .property-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b7d87;
    padding: 1rem;

    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #fff;
    }

    p {
      color: #dfbd37;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

.homeThirdSection {
  width: 60vw;
  margin: 8rem auto 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;

  .method:not(:last-child) {
    border-right: 2px solid #ddd;
    padding-right: 2.5rem;
  }

  h4 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem !important;
  }

  h5 {
    font-size: 2rem;
    margin-bottom: 0.5rem !important;
  }

  p {
    font-size: 1.3rem;
  }
}

.homeFourthSection .row.first_row {
  justify-content: center;
  padding-bottom: 80px;

  .col-md-10 {
    background-color: #f5f5f5;
    padding: 20px 0px;
  }

  .col-md-10 .row {
    padding-left: 20px;
  }

  .col-md-10 .col-md-5 img {
    width: 100%;
  }

  .col-md-5.form_div div.text_div {
    border-left: 2px solid #000;
    padding-left: 25px;
  }

  .col-md-5.image_div {
    position: relative;
  }

  .col-md-5.col-md-5.image_div div {
    position: absolute;
    position: absolute;
    top: 27px;
    left: 44px;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px 170px 30px 10px;
    color: #fff;
    width: 80%;
    h4 {
      font-size: 60px;
    }

    h2 {
      font-size: 60px;
    }
    h5 {
      padding-left: 114px;
      font-size: 30px;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
    }
  }

  .col-md-5.form_div {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
  }

  form div {
    margin-bottom: 10px;
  }

  form div.select_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  form input {
    padding: 10px 0 10px 10px;
    border: 1px solid grey;
    color: grey !important;
    width: 100%;
  }

  form select.guest {
    padding: 10px 0 10px 10px;
    border: 1px solid grey;
    background-color: #fff !important;
    color: grey !important;
  }

  form select.event {
    padding: 10px 0 10px 10px;
    border: 1px solid grey;
    background-color: #fff !important;
    color: grey !important;
  }

  form select.space {
    padding: 10px 90px 10px 10px;
    border: 1px solid grey;
    background-color: #fff !important;
    color: grey !important;
  }

  form button {
    background-color: #30caa0;
    border: none;
    padding: 10px 44px 10px;
    color: #fff;
  }
}

.homeFifthSection {
  padding: 0;
}

.homeFifthSection img {
  width: 100%;
}
