@import "./styles/main.scss";

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
}

.homeHeroSection {
  background-image: url("./assets/img/home/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeFirstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;

  .line {
    width: 200px;
    height: 2px;
    border-top: 2px solid #ddd;
    margin: 0 auto;
  }
  h1 {
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.homeSecondSection {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;

  .property img {
    display: block;
  }

  .property-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b7d87;
    padding: 1rem;

    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      color: #fff;
    }

    p {
      color: #dfbd37;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

.homeThirdSection {
  width: 60vw;
  margin: 8rem auto 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-items: center;

  .method:not(:last-child) {
    border-right: 2px solid #ddd;
    padding-right: 2.5rem;
  }

  h4 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem !important;
  }

  h5 {
    font-size: 2rem;
    margin-bottom: 0.5rem !important;
  }

  p {
    font-size: 1.3rem;
  }
}

.homeFourthSection {
  background: #f5f5f5;
  color: #fff;
  width: 85vw;
  margin: 7rem auto 7rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 17rem 4rem 2rem;
  column-gap: 7.5rem;
  row-gap: 2rem;

  .section-banner {
    position: relative;
    img {
      width: 100%;
    }
  }

  .section-text {
    position: absolute;
    width: 86%;
    top: 30px;
    left: 30px;
    right: 0;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .section-form {
    display: flex;
    align-items: center;
  }

  .text {
    width: 55%;

    h4,
    h5,
    h2 {
      font-weight: 100;
    }

    h4 {
      font-size: 5rem;
      margin-bottom: 1.5rem !important;
    }

    p {
      font-size: 1.7rem;
      margin-bottom: 1rem !important;
      border-bottom: 1px solid #fff;
      padding-bottom: 1rem;
    }

    h5 {
      font-size: 3rem;
      text-align: right;
    }
    h2 {
      font-size: 6rem;
      text-align: right;
    }
  }
}
