@import "./styles/main.scss";

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
}

.homeHeroSection {
  background-image: url("./assets/img/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: -88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeFirstSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  div.line {
    width: 200px;
    height: 2px;
    border: 1px solid #ddd;
  }
  h1 {
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.homeSecondSection .row {
  padding: 40px 100px 80px 100px;

  .col-lg-3 div {
    background-color: #6b7d87;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: 16px;
  }
  .col-lg-3 div p {
    margin-bottom: 0;
  }
  .col-lg-3 h4 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .col-lg-3 p {
    color: #dfbd37;
    font-weight: bold;
    font-size: 1rem;
  }
}

.homeThirdSection .row {
  justify-content: center;
  padding-bottom: 80px;
  .col-md-3 {
    display: flex;
    justify-content: center;
  }
  .col-md-3:nth-child(2),
  .col-md-3:nth-child(3) {
    border-left: 2px solid #ddd;
  }

  .col-md-3 h5 {
    font-weight: 400;
    font-size: 23px;
  }

  .col-md-3 h6 {
    font-weight: bold;
  }

  .col-md-3 p {
    font-size: 15px;
  }
}

.homeFourthSection .row.first_row {
  justify-content: center;
  padding-bottom: 80px;

  .col-md-10 {
    background-color: #f5f5f5;
    padding: 20px 0px;
  }

  .col-md-10 .row {
    padding-left: 20px;
  }

  .col-md-10 .col-md-5 img {
    width: 100%;
  }

  .col-md-5.form_div div.text_div {
    border-left: 2px solid #000;
    padding-left: 25px;
  }

  .col-md-5.image_div {
    position: relative;
  }

  .col-md-5.col-md-5.image_div div {
    position: absolute;
    position: absolute;
    top: 27px;
    left: 44px;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px 170px 30px 10px;
    color: #fff;
    width: 80%;
    h4 {
      font-size: 60px;
    }

    h2 {
      font-size: 60px;
    }
    h5 {
      padding-left: 114px;
      font-size: 30px;
      margin-bottom: 0;
    }
    p {
      font-size: 18px;
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
    }
  }

  .col-md-5.form_div {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
  }

  form div {
    margin-bottom: 10px;
  }

  form div.select_div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  form input {
    padding: 10px 0 10px 10px;
    border: 1px solid grey;
    color: grey !important;
    width: 100%;
  }

  form select.guest {
    padding: 10px 0 10px 10px;
    border: 1px solid grey;
    background-color: #fff !important;
    color: grey !important;
  }

  form select.event {
    padding: 10px 0 10px 10px;
    border: 1px solid grey;
    background-color: #fff !important;
    color: grey !important;
  }

  form select.space {
    padding: 10px 90px 10px 10px;
    border: 1px solid grey;
    background-color: #fff !important;
    color: grey !important;
  }

  form button {
    background-color: #30caa0;
    border: none;
    padding: 10px 44px 10px;
    color: #fff;
  }
}

.homeFifthSection {
  padding: 0;
}

.homeFifthSection img {
  width: 100%;
}
